<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.DeliveryMapper">
    <insert id="insert" parameterType="com.quickcravebackend.model.Delivery">
        insert into delivery (name,password,address,phone) values (#{name},#{password},#{address},#{phone})
    </insert>

    <select id="selectAll" resultType="com.quickcravebackend.model.Delivery">
        select * from delivery
    </select>

    <select id="selectByName" resultType="com.quickcravebackend.model.Delivery" parameterType="String">
        select * from delivery where name = #{name}
    </select>

    <select id="selectById" resultType="com.quickcravebackend.model.Delivery" parameterType="Long">
        select * from delivery where id = #{id}
    </select>

    <select id="selectByState" parameterType="String" resultType="com.quickcravebackend.model.Delivery">
        select * from delivery where state = #{state}
    </select>

    <delete id="delete" parameterType="Long">
        delete from delivery where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete  from delivery
    </delete>

    <update id="update" parameterType="com.quickcravebackend.model.Delivery">
        update delivery set name = #{name}, password = #{password} where id = #{id}
    </update>

    <update id="updateState" parameterType="com.quickcravebackend.model.Delivery">
        update delivery set state = #{state} where id = #{id}
    </update>

</mapper>
