<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.GoodsMapper">

    <insert id="insert" parameterType="com.quickcravebackend.model.Goods">
        insert into goods (name,description,image,number,price,discount,vendor_id) values (#{name},#{description},#{image},#{number},#{price},#{discount},#{vendor_id})
    </insert>
    
    <select id="selectAll" resultType="com.quickcravebackend.model.Goods">
        select * from goods
    </select>
    
    <select id="selectByName" resultType="com.quickcravebackend.model.Goods" parameterType="String">
        select * from goods where name = #{name}
    </select>
    
    <select id="selectById" resultType="com.quickcravebackend.model.Goods" parameterType="Long">
        select * from goods where id = #{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from goods where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete from goods
    </delete>

    <update id="updateName" parameterType="com.quickcravebackend.model.Goods">
        update goods set name = #{name} where id = #{id}
    </update>

    <update id="updateDescription" parameterType="com.quickcravebackend.model.Goods">
        update goods set description = #{description} where id = #{id}
    </update>

    <update id="updateImage" parameterType="com.quickcravebackend.model.Goods">
        update goods set image = #{image} where id = #{id}
    </update>

    <update id="updateNumber" parameterType="com.quickcravebackend.model.Goods">
        update goods set number = #{number} where id = #{id}
    </update>

    <update id="updatePrice" parameterType="com.quickcravebackend.model.Goods">
        update goods set price = #{price} where id = #{id}
    </update>

    <update id="updateDiscount" parameterType="com.quickcravebackend.model.Goods">
        update goods set discount = #{discount} where id = #{id}
    </update>

    <update id="updateVendor" parameterType="com.quickcravebackend.model.Goods">
        update goods set vendor_id = #{vendor_id} where id = #{id}
    </update>

</mapper>