<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.OrdersMapper">
    <insert id="insert" parameterType="com.quickcravebackend.model.Orders">
        insert into orders (orders_id, goods_id,user_id,vendor_id,delivery_id,state,date,address,phone,payment,total) values (#{orders_id},#{goods_id},#{user_id},#{vendor_id},#{delivery_id},#{state},#{date},#{address},#{phone},#{payment},#{total})
    </insert>

    <select id="selectAll" resultType="com.quickcravebackend.model.Orders">
        select * from orders
    </select>

    <select id="selectByOrdersId" resultType="com.quickcravebackend.model.Orders">
        select * from orders where orders_id = #{orders_id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from orders where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete from orders
    </delete>

    <update id="updateState" parameterType="com.quickcravebackend.model.Orders">
        update orders set state = #{state} where id = #{id}
    </update>

</mapper>