<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.UserLoginMapper">
    <select id="queryAll" resultType="com.quickcravebackend.model.UserModel">
        select * from UserModel
    </select>

    <select id="queryByName" resultType="com.quickcravebackend.model.UserModel">
        select * from UserModel where username = #{username}
    </select>

    <insert id="insert" parameterType="com.quickcravebackend.model.UserModel">
        insert into UserModel values (#{username},#{password})
    </insert>
</mapper>
