<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.VendorMapper">

<!--    <resultMap id="goodsMap" type="com.quickcravebackend.model.Vendor">-->
<!--        <id property="id" column="id" />-->
<!--        <collection property="goods" column="id" select="com.quickcravebackend.mapper.GoodsMapper.selectByVendorId" javaType="List" ofType="com.quickcravebackend.model.Goods"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="vendorGoodsMap" type="com.quickcravebackend.model.Vendor">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="name" column="name" />-->
<!--        <collection property="goods" ofType="com.quickcravebackend.model.Goods">-->
<!--            <id property="id" column="id" />-->
<!--            <result property="name" column="name" />-->
<!--            <result property="description" column="description" />-->
<!--            <result property="image" column="image" />-->
<!--            <result property="state" column="state" />-->
<!--            <result property="date" column="date" />-->
<!--            <result property="price" column="price" />-->
<!--            <result property="category" column="category" />-->
<!--            <result property="quantity" column="quantity" />-->
<!--            <result property="discount" column="discount" />-->
<!--        </collection>-->
<!--    </resultMap>-->

    <insert id="insert" parameterType="com.quickcravebackend.model.Vendor">
        insert into vendor (name,password) values (#{name},#{password})
    </insert>

    <select id="selectAll" resultType="com.quickcravebackend.model.Vendor">
        select * from vendor
    </select>

    <select id="selectByName" resultType="com.quickcravebackend.model.Vendor" parameterType="String">
        select * from vendor where name = #{name}
    </select>

    <delete id="delete" parameterType="Long">
        delete from vendor where id = #{id}
    </delete>

    <update id="update" parameterType="Long">
        update vendor set name = #{name},password = #{password} where id =#{id}
    </update>

    <select id="selectById" resultType="com.quickcravebackend.model.Vendor" parameterType="Long">
        select * from vendor where id = #{id}
    </select>

    <delete id="deleteAll">
        delete  from vendor
    </delete>

</mapper>
