<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickcravebackend.mapper.VendorMapper">

    <insert id="insert" parameterType="com.quickcravebackend.model.Vendor">
            insert into vendor (name,password,phone,address,portrait,description,image,category) values (#{name},#{password},#{phone},#{address},#{portrait},#{description},#{image},#{category})
    </insert>

    <select id="selectAll" resultType="com.quickcravebackend.model.Vendor">
        select * from vendor
    </select>

    <select id="selectByName" resultType="com.quickcravebackend.model.Vendor" parameterType="String">
        select * from vendor where name = #{name}
    </select>

    <select id="selectById" resultType="com.quickcravebackend.model.Vendor" parameterType="Long">
        select * from vendor where id = #{id}
    </select>

    <select id="selectByCategory" resultType="com.quickcravebackend.model.Vendor" parameterType="String">
        select * from vendor where category = #{category}
    </select>

    <select id="selectVendorWithGoods" resultType="com.quickcravebackend.model.Goods" parameterType="Long">
        select v.*, g.* from vendor v, goods g
        where (v.id = #{id} and g.vendor_id = v.id)
    </select>

    <delete id="delete" parameterType="Long">
        delete from vendor where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete  from vendor
    </delete>

    <update id="updateName" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set name = #{name} where id = #{id}
    </update>

    <update id="updatePassword" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set password = #{password} where id = #{id}
    </update>

    <update id="updateEmail" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set email = #{email} where id = #{id}
    </update>

    <update id="updatePhone" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set phone = #{phone} where id = #{id}
    </update>

    <update id="updateAddress" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set address = #{address} where id = #{id}
    </update>

    <update id="updateState" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set state = #{state} where id = #{id}
    </update>

    <update id="updateDate" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set date = #{date} where id = #{id}
    </update>

    <update id="updatePortrait" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set portrait = #{portrait} where id = #{id}
    </update>

    <update id="updateDescription" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set description = #{description} where id = #{id}
    </update>

    <update id="updateImage" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set image = #{image} where id = #{id}
    </update>

    <update id="updateCategory" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set category = #{category} where id = #{id}
    </update>

    <update id="updateTime" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set time = #{time} where id = #{id}
    </update>

    <update id="updateFee" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set fee = #{fee} where id = #{id}
    </update>

    <update id="updateQuantity" parameterType="com.quickcravebackend.model.Vendor">
        update vendor set quantity = #{quantity} where id = #{id}
    </update>

</mapper>
